# macOS
.DS_Store

# Environments
.pixi/*
!.pixi/config.toml
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data and Outputs
data/raw/
data/processed/
data/cache/
outputs/
structures/
!outputs/figures/
!outputs/summary_report.txt
!outputs/summary_stats.json

# If you specifically want to ignore all outputs (including figures), you can just uncomment:
# outputs/
